<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="io.ktor" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <logger name="dev.kord" level="INFO"/>
    <logger name="org.sqlite.core.NativeDB" level="INFO"/>
    <logger name="EXPOSED" level="INFO"/>
    <logger name="Exposed" level="INFO"/>
    <logger name="oshi.util.FileUtil" level="INFO"/>
</configuration>
