<script th:inline="javascript" th:fragment="lineChart(id, graphData)">

    document.addEventListener("DOMContentLoaded", function () {
        let yAxis = [[${graphData.yAxis}]];

        window.ApexCharts && (new ApexCharts(document.getElementById('chart-' + /*[[${id}]]*/ 'default'), {
            chart: {
                type: "area",
                fontFamily: 'inherit',
                height: 240,
                parentHeightOffset: 0,
                toolbar: {
                    show: false,
                },
                animations: {
                    enabled: false
                },
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                opacity: .16,
                type: 'solid'
            },
            stroke: {
                width: 2,
                lineCap: "round",
                curve: "smooth",
            },
            series: yAxis.map(function (item) {
                return {
                    name: item.name,
                    data: item.data,
                }
            }),
            tooltip: {
                theme: 'dark'
            },
            grid: {
                padding: {
                    top: -20,
                    right: 0,
                    left: -4,
                    bottom: -4
                },
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                    formatter: function (value) {
                        return new Date(value).toLocaleTimeString();
                    }
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: yAxis.map(function (y, i) {
                return {
                    labels: {
                        padding: 4,
                        formatter: function (value, opt) {
                            if (typeof opt === 'number') {
                                return (opt * 20)
                            }
                            return y.formattedValues[opt.dataPointIndex];
                        }
                    },
                    min: 0,
                    max: y.max,
                    tickAmount: 5,
                    opposite: i > 0,
                }
            }),
            labels: [[${graphData.xAxis}]],
            colors: [tabler.getColor("primary"), tabler.getColor("red")],
            legend: {
                show: true,
                position: 'bottom',
                offsetY: 12,
                markers: {
                    width: 10,
                    height: 10,
                    radius: 100,
                },
                itemMargin: {
                    horizontal: 8,
                    vertical: 8
                },
            },
        })).render();
    });
</script>
