<div th:fragment="statusPage(appStatusList, volumes)" class="page-body">
    <div class="container-xl">
        <div class="row row-cards" style="margin-top: 8px">
            <div class="col-md-7" style="margin-top: 16px">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="subheader">RAM & CPU</div>
                            <!--                            <div class="ms-auto lh-1">-->
                            <!--                                <div class="dropdown">-->
                            <!--                                    <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown"-->
                            <!--                                       aria-haspopup="true" aria-expanded="false">Last 7 days</a>-->
                            <!--                                    <div class="dropdown-menu dropdown-menu-end">-->
                            <!--                                        <a class="dropdown-item active" href="#">Last 7 days</a>-->
                            <!--                                        <a class="dropdown-item" href="#">Last 30 days</a>-->
                            <!--                                        <a class="dropdown-item" href="#">Last 3 months</a>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="d-flex">
                            <h3 class="card-title">Resource usage</h3>
                        </div>
                        <div id="chart-completion-tasks-10"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Disk usage</h3>
                    </div>
                    <div class="card-table table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                            <tr>
                                <th>Volume</th>
                                <th>Free</th>
                                <th>Total</th>
                                <th>%</th>
                                <th colspan="2"></th>
                            </tr>
                            </thead>
                            <tr th:each="volume : ${volumes}">
                                <td th:text="${volume.description}"></td>
                                <td class="text-secondary"
                                    th:text="${#numbers.formatDecimal(volume.free, 0, 'COMMA', 2, 'POINT') + ' GB'}"></td>
                                <td class="text-secondary"
                                    th:text="${#numbers.formatDecimal(volume.total, 0, 'COMMA', 2, 'POINT') + ' GB'}"></td>
                                <td class="text-secondary"
                                    th:text="${#numbers.formatDecimal(volume.usage, 0, 'COMMA', 2, 'POINT')+ '%'}"></td>
                                <td class="text-end w-1">
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xl">
        <div th:each="appStatus : ${appStatusList}">
            <div th:insert="~{app-status :: appReport(${appStatus})}"></div>
        </div>
    </div>
</div>